!!!
%html
  %head
    <!-- Global site tag (gtag.js) - Google Ads: 788444071 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-788444071"></script>
    <script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'AW-788444071');</script>
    <!-- Event snippet for Kontakt German conversion page
    In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
    <script>function gtag_report_conversion(url) {var callback = function () {if (typeof(url) != 'undefined') {window.location = url;}};gtag('event', 'conversion', {'send_to': 'AW-788444071/YfRwCI_AsJMBEKfn-vcC','event_callback': callback});return false;}</script>
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Pulpo WMS"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
    <link rel="shortcut icon" type="image/x-icon" href="../images/pulpo/AF_pulpo_logo.ico">
    <!-- Start of HubSpot Embed Code --> <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5328270.js"></script> <!-- End of HubSpot Embed Code -->
    <script>if(window.location.pathname=='/'){ location.href="https://info.pulpowms.com/pulpo-wms-de";} else if(window.location.pathname=='/en/') location.href="https://info.pulpowms.com/pulpo-wms-en"; else location.href="https://info.pulpowms.com/pulpo-wms-es";</script>
  %body
    %header.bHeaderWrapper
      .bHeader
        .bHeader-logo
          = image_tag('images/pulpo/Pulpo_200x259.png', height: '60', width: '50')
        .bHeader-navigation
          #hamburger.bHeader-hamburger= svg_tag('hamburger')
          %ul#menu.aNavigation
            %li.aNavigation-item
            = link_to I18n.t('navigation.home'),I18n.t("path.home") 
            %li.aNavigation-item
            = link_to I18n.t('navigation.productDetail'),I18n.t("path.productDetail") 
            %li.aNavigation-item
            = link_to I18n.t('navigation.contact'),I18n.t("path.contact")
            %li.aNavigation-item
              = link_to 'ES/',"/es"
              = link_to 'EN/','/en'
              = link_to 'DE','http://pulpowms.com'
    = yield
    .bFooterWrapper
      .bFooter
        .bFooter-infos
          .bFooter-logo= image_tag('images/pulpo/AF_pulpo_wms_logo_white.png', height: '80', width: '80')
          <div id='footerCP'>© 2019 Copyright KMB VENTURES, Inc</div>
